In [3]:
# Marks calc for 10 students, 4 tests (Maths, Sci, Eng, IT)
import numpy as np

marks = {
    "maths": [45, 67, 89, 56, 90, 34, 78, 67, 87, 92],
    "sci": [55, 77, 68, 59, 84, 72, 89, 60, 73, 88],
    "eng": [70, 65, 85, 56, 79, 68, 75, 82, 69, 80],
    "it": [88, 70, 60, 95, 80, 78, 85, 66, 90, 74],
}

# For each subj
for subj, scores in marks.items():
    print(f"{subj} -> High: {max(scores)}, Low: {min(scores)}, Avg: {np.mean(scores):.2f}")

# Overall
all_scores = sum(marks.values(), [])
print(f"Overall -> High: {max(all_scores)}, Low: {min(all_scores)}, Avg: {np.mean(all_scores):.2f}")

maths -> High: 92, Low: 34, Avg: 70.50
sci -> High: 89, Low: 55, Avg: 72.50
eng -> High: 85, Low: 56, Avg: 72.90
it -> High: 95, Low: 60, Avg: 78.60
Overall -> High: 95, Low: 34, Avg: 73.62

In [2]:
# Gross salary calc
basic = float(input("Enter basic salary: "))

if basic <= 10000:
    hra, da = 0.2, 0.8
elif basic <= 20000:
    hra, da = 0.25, 0.9
else:
    hra, da = 0.3, 0.95

gross_salary = basic + (hra * basic) + (da * basic)
print(f"Gross Salary: {gross_salary:.2f}")

Enter basic salary: 100000
Gross Salary: 225000.00

In [5]:
# Pw validation rules
import re

pw = input("Enter pw: ")
if (6 <= len(pw) <= 16 and re.search("[a-z]", pw) and re.search("[A-Z]", pw) and
    re.search("[0-9]", pw) and re.search("[$#@]", pw)):
    print("Valid pw")
else:
    print("Invalid pw")

Enter pw: Mehta123#45
Valid pw

In [6]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L += [200, 300]  # Adding
L = [x for x in L if x not in [10, 30]]  # Removing
print(f"Asc: {sorted(L)}, Desc: {sorted(L, reverse=True)}")  # Sorting

Asc: [20, 40, 50, 60, 70, 80, 200, 300], Desc: [300, 200, 80, 70, 60, 50, 40, 20]

In [8]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
D[6] = "Six"  # Add
D.pop(2)  # Remove
print(f"6 present? {'Yes' if 6 in D else 'No'}")
print(f"Count: {len(D)}, Sum: {''.join(D.values())}")

6 present? Yes
Count: 5, Sum: OneThreeFourFiveSix

In [9]:
import random

nums = [random.randint(100, 900) for _ in range(100)]
odds = [n for n in nums if n % 2]
evens = [n for n in nums if n % 2 == 0]
primes = [n for n in nums if all(n % i != 0 for i in range(2, int(n**0.5) + 1)) and n > 1]

print(f"Odds: {len(odds)}, Evens: {len(evens)}, Primes: {len(primes)}")

Odds: 49, Evens: 51, Primes: 16

In [15]:
def comp_int(p, r, t):
    return p * (1 + r / 100) ** t

# Inputs
p = float(input("Principal amount: "))
r = float(input("Interest rate (%): "))
t = float(input("Time (years): "))

print(comp_int(p, r, t))
print(f"{comp_int(p, r, t):.2f}")

Principal amount: 1500
Interest rate (%): 10
Time (years): 1
1650.0000000000002
1650.00

In [16]:
class Restaurant:
    def __init__(self, name, cuisine):
        self.name = name
        self.cuisine = cuisine

    def describe_restaurant(self):
        print(f"{self.name} serves {self.cuisine}.")

    def open_restaurant(self):
        print(f"{self.name} is now open!")

r = Restaurant("Foodies", "Indian")
print(r.name, r.cuisine)
r.describe_restaurant()
r.open_restaurant()

Foodies Indian
Foodies serves Indian.
Foodies is now open!

In [17]:
class User:
    def __init__(self, fname, lname, age, location):
        self.fname = fname
        self.lname = lname
        self.age = age
        self.location = location

    def describe_user(self):
        print(f"Name: {self.fname} {self.lname}, Age: {self.age}, Location: {self.location}")

    def greet_user(self):
        print(f"Hi {self.fname}, welcome back!")

u1 = User("John", "Doe", 25, "NYC")
u2 = User("Jane", "Smith", 30, "LA")

for u in [u1, u2]:
    u.describe_user()
    u.greet_user()

Name: John Doe, Age: 25, Location: NYC
Hi John, welcome back!
Name: Jane Smith, Age: 30, Location: LA
Hi Jane, welcome back!